<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- CSS Files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/catalog.css" />

        <!-- JS Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <title>TDBI: Catalog</title>
    </head>
    <body>
        <%- include('../components/navbar'); %>
        <div class="container-fluid catalog-container">
            <div class="w-75 mx-auto">
                <input type="text" id="searchInput" placeholder="Search..." />
                <ul class="list-group bg-dark" id="animalCatalog">
                    <li class="list-group-item bg-dark catalog-header">
                        <div class="row">
                            <div class="col-md"></div>
                            <div class="col-md">
                                <h4>Scientific Name</h4>
                            </div>
                            <div class="col-md">
                                <h4>Common Name</h4>
                            </div>
                            <div class="col-md">
                                <h4>Category</h4>
                            </div>
                            <div class="col-md">
                                <h4>Origin</h4>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item bg-dark" id="nothingFoundRow" style="display: none">No entry was found that matched your search</li>
                    <!-- Entries will be dynamically added here -->
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="/scripts/catalogScript.js"></script>
    </body>
</html>
