<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="navbar.css" />

        <!-- JS Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <title>TDBI</title>
    </head>
    <body>
        <div class="container-fluid">
            <ul class="list-group bg-dark w-75 mx-auto" id="animalCatalog">
                <!-- Entries will be dynamically added here -->
                <li class="list-group-item bg-dark">
                    <div class="row">
                        <div class="col-md"></div>
                        <div class="col-md">
                            <h4>Scientific Name</h4>
                        </div>
                        <div class="col-md">
                            <h4>Common Name</h4>
                        </div>
                        <div class="col-md">
                            <h4>Category</h4>
                        </div>
                        <div class="col-md">
                            <h4>Origin</h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>
